* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 기본 스타일 초기화 */
pre {
  margin: 0;
  font-family: inherit; /* 상속받은 폰트 사용 */
}

h1, h2 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}